<header>
  <div class="left">
    <div class="left__img">
      <img src="assets/logos/argentina.png" alt="Argentina">
      <img src="assets/logos/argPrograma.png" alt="ARG Programa">
    </div>
    <div class="left__text">
      <h3>#Yo Programo</h3>
      <h4>"Argentina Programa"</h4>
    </div>
  </div>
  <div class="right">
    <div class="right__social">
      <a href="https://www.instagram.com/estefano_chicco" target="_blank" rel="noopener noreferrer"><img
          src="assets/icons/instagram.svg" alt="Instagram"></a>
      <a href="https://github.com/JuanchoWolf" target="_blank" rel="noopener noreferrer"><img
          src="assets/icons/github.svg" alt="Github"></a>
    </div>
    <div class="right__login">
      <button class="btn btn-success"><img src="assets/icons/log-in.svg" alt="Login"></button>
    </div>
  </div>
</header>