<button class="home" type="button" routerLink=""> <img src="assets/icons/arrow-up-left.svg" alt="arrow-left"> Volver</button>
<div class="card">
    <h1 class="title">Actualizar Proyecto</h1>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div>
            <h3 class="subtitle">Nombre Proyecto:</h3>
            <input type="text" id="project" name="project" placeholder="Proyecto" [(ngModel)]="project.project" required>
        </div>
        <div>
            <h3 class="subtitle">Texto:</h3>
            <input type="text" id="text" name="text" placeholder="Texto" [(ngModel)]="project.text" required>
        </div>
        <div>
            <h3 class="subtitle">Link Repositorio:</h3>
            <input type="text" id="link_gh" name="link_gh" placeholder="Link Repositorio" [(ngModel)]="project.link_gh" required>
        </div>
        <div>
            <h3 class="subtitle">Link Pagina:</h3>
            <input type="text" id="link_page" name="link_page" placeholder="Link Pagina" [(ngModel)]="project.link_page" >
        </div>
        <div>
            <h3 class="subtitle">Icono:</h3>
            <input type="file" id="icon" name="icon" placeholder="Icono" (ngModel)="project.icon" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
        </div>
        <button type="submit" class="submit">Actualizar</button>
    </form>
</div>