<div class="card" id="projects">
    <h1 class="title">Proyectos</h1>
    <button type="button" *ngIf="isAdmin" routerLink="add-project">Añadir Proyecto</button>
    <table>
        <tbody>
          <tr class="head">
            <td>#</td>
            <td>Proyecto</td>
            <td>Descripcion</td>
            <td class="more">
                <tr>Repo</tr>
                <tr>Pagina</tr>
            </td>
            <td class="action" *ngIf="isAdmin">
                <tr>Editar</tr>
                <tr>Borrar</tr>
            </td>
          </tr>
          <tr *ngFor="let proj of project">
            <td class="img"><img src="{{proj.icon}}" alt="{{proj.project}}"></td>
            <td class="proj">{{proj.project}}</td>
            <td class="text">{{proj.text}}</td>
            <td class="more">
               <tr><a href="{{proj.link_gh}}" target="_blank" rel="noopener noreferrer">Código</a></tr>
               <tr><a href="{{proj.link_page}}" target="_blank" rel="noopener noreferrer" *ngIf="proj.link_page != null && proj.link_page != ''">Pagina</a></tr>
            </td>
            <td class="action" *ngIf="isAdmin">
                <tr>
                  <button type="button" routerLink="upd-project/{{proj.id}}">
                    <img src="assets/icons/edit-3.svg" alt="edit">
                  </button>
                </tr>
                <tr>
                  <button type="button" (click)="deleteProject(proj.id)">
                    <img src="assets/icons/trash-2.svg" alt="delete">
                  </button>
                </tr>
            </td>
          </tr>
        </tbody>
      </table>
</div>