<div class="card" id="education">
    <h1 class="title">Educacion</h1>
    <button type="button" *ngIf="isLogged" routerLink="add-education">Añadir Educacion</button>
    <table>
      <tbody>
        <tr class="head">
          <td>Titulo</td>
          <td>Institucion</td>
          <td class="action" *ngIf="isLogged">Editar</td>
          <td class="action" *ngIf="isLogged">Borrar</td>
        </tr>
        <tr *ngFor="let edu of education">
          <td>{{edu.education}}</td>
          <td>{{edu.institution}}</td>
          <td class="action" *ngIf="isLogged">
            <button type="button" routerLink="upd-education/{{edu.id}}">
              <img src="assets/icons/edit-3.svg" alt="edit">
            </button>
          </td>
          <td class="action" *ngIf="isLogged">
            <button type="button" (click)="deleteEducation(edu.id)">
              <img src="assets/icons/trash-2.svg" alt="delete">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>