<div *ngIf="skill">
    <button class="home" type="button" routerLink=""> <img src="assets/icons/arrow-up-left.svg" alt="arrow-left"> Volver</button>
    <div class="card">
        <h1 class="title">Editar Habilidad</h1>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div>
                <h3 class="subtitle">Nombre:</h3>
                <input type="text" id="name" name="name" placeholder="Nombre" [(ngModel)]="skill.name" required>
            </div>
            <div>
                <h3 class="subtitle">Porcentaje:</h3>
                <input type="number" id="percentage" name="percentage" placeholder="Porcentaje" [(ngModel)]="skill.percentage" required>
            </div>
            <button type="submit" class="submit">Actualizar</button>
        </form>
    </div>
</div>