<div class="card" id="skills">
    <h1 class="title">Habilidades</h1>
    <button type="button" *ngIf="isLogged" routerLink="add-skill">Añadir Habilidad</button>
    <div class="circle">
      <div *ngFor="let skl of skill">
        <circle-progress class="progress" [percent]="(skl.percentage)"
                        [radius]="60"
                        [showUnits]="false"
                        [title]="(skl.name)"
                        [titleFontSize]="'18'"
                        [showTitle]="true"
                        [imageSrc]="''"
                        [showImage]="false"
                        [imageHeight]="48"
                        [imageWidth]="48"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#319bff'"
                        [innerStrokeColor]="'#31cfff'"
                        [animation]="false"
        ></circle-progress>

      <div class="more" *ngIf="isLogged">
        <button class="action" type="button" routerLink="/upd-skill/{{skl.id}}">
            <img src="assets/icons/edit-3.svg" alt="edit">
          </button>
        <button class="action" type="button" (click)="delete(skl.id)">
            <img src="assets/icons/trash-2.svg" alt="delete">
          </button>
      </div>
    </div>
    </div>
</div>