:root {
  --bg-body : #0f0f0f;
  --bg-card : #2f2f2f;
  --ft : #f0f0f0;
  --ft-sub : #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body);
  color: var(--ft);
  font-family: monospace;
}