button {
    width: 75%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    border-radius: 36px;
    border-color: transparent;
    background-color: var(--bg-global);
    font-size: 18px;
    transition: all 0.2s;
}

button:hover,
button:focus-visible {
    height: 48px;
    background-color: var(--bg-press-global);
}

table {
    width: 100%;
}

table>tbody>tr {
    width: 95%;
    height: 42px;
    display: grid;
    grid-template-columns: 40% 50% 5% 5%;
    border-radius: 28px;
    align-items: center;
    margin: auto auto 12px auto;
    background-color: var(--bg-body2);
}

table>tbody>tr.head {
    background-color: var(--bg-global);
    margin-top: 0;
    text-align: center;
}


table>tbody>tr>td {
    font-size: 18px;
    border-radius: 28px;
    padding: 0 12px;
}

table>tbody>tr.head>td {
    font-size: 24px;
    padding: 0;
}

table>tbody>tr>td.action>button {
    margin: 0;
    margin-right: 4px;
    padding: 0 8px;
}

table>tbody>tr>td.action>button:hover,
table>tbody>tr>td.action>button:focus-visible {
    height: 36px;
    width: 36px;
}

@media (max-width: 958px) {
    table>tbody>tr {
        width: 100%;
    }
    table>tbody>tr>td {
        font-size: 12px;
        border-radius: 18px;
        padding: 0 6px;
    }
    
    table>tbody>tr.head>td {
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width: 700px) {
    table>tbody>tr {
        height: 64px;
        grid-template-columns: 35% 45% 10% 10%;
    }
}

@media (max-width: 456px) {
    table>tbody>tr {
        height: 72;
    }
    table>tbody>tr>td {
        font-size: 12px;
        border-radius: 18px;
        padding: 0 6px;
    }
    
    table>tbody>tr.head>td {
        font-size: 14px;
        padding: 0;
    }
}

@media (max-width: 337px) {
    table>tbody>tr {
        width: 80vw;
    }
}